# Node.js App
**/dist
generated
.git
npm-debug.log
LICENSE
*.md

# Docker
docker-compose.yml
/docker-services
!/docker-services/test_db/init.sql
!/docker-services/test_db/init.sh

# OS and IDEA
.DS_Store
.idea
